<head>
	<link rel="stylesheet" href="../css/footer.css">
</head>

<footer>
	<div class="footer">
		<div class="footer-top">
			<p>Connect with us</p>
			<div class="footer-socials">
				<a href="https://www.facebook.com/Elqanaastore/"><img src="/images/facebook.png" alt="facebook"></a>
			</div>
			<div class="footer-socials">
				<p>01115405419</p>
			</div>
		</div>

		<hr id="footer-top-line">

		<div class="footer-middle">

			<div class="footer-branch">
				<a href="">
					<img src="/images/location.png" alt="location">
				</a>
				<p>٣٧ شارع كابول من مكرم عبيد - خلف مصطفى السلاب - مدينة نصر، القاهرة، مصر</p>
			</div>
		</div>
	</div>
</footer>