<head>
	<link rel="stylesheet" href="../css/footer.css">
</head>

<footer>
	<div class="footer">
		<div class="footer-top">
			<p>Connect with us</p>
			<div class="footer-socials">
				<a href=""><img src="/images/facebook.png" alt="facebook"></a>
				<a href=""><img src="/images/instagram.png" alt="instagram"></a>
			</div>
		</div>

		<hr id="footer-top-line">

		<div class="footer-middle">
			<div class="footer-branch">
				<a href="">
					<img src="/images/location.png" alt="location">
					<p>Heliopolis Branch</p>
				</a>
				<p>24 Street, Hegaz Square</p>
			</div>

			<div class="footer-branch">
				<a href="">
					<img src="/images/location.png" alt="location">
					<p>Heliopolis Branch</p>
				</a>
				<p>24 Street, Hegaz Square, Ddakfjiek Wopdokajf, KDJDS</p>
			</div>

			<div class="footer-branch">
				<a href="">
					<img src="/images/location.png" alt="location">
					<p>Heliopolis Branch</p>
				</a>
				<p>24 Street, Hegaz Square, DKJFD</p>
			</div>

			<div class="footer-branch">
				<a href="">
					<img src="/images/location.png" alt="location">
					<p>Heliopolis Branch</p>
				</a>
				<p>24 Street, Hegaz Square, Sdkfjap, KDJF</p>
			</div>
		</div>

		<hr id="footer-bottom-line">

		<div class="footer-bottom">
			<div class="footer-bottom-left">
				<p>© 2023 SuperPharm. All rights reserved.</p>
			</div>
			<div class="footer-bottom-right">
				<a href=""><p>Privacy Policy</p></a>
				<a href=""><p>Terms of Use</p></a>
			</div>
		</div>
	</div>
</footer>