<head>
	<link rel="stylesheet" href="../css/footer.css">
</head>

<footer>
	<div class="footer">
		<div class="footer-top">
			<p>Connect with us</p>
			<div class="footer-socials">
				<a href="https://www.facebook.com/Elqanaastore/"><img src="/images/facebook.png" alt="facebook"></a>
			</div>
			<div class="footer-socials">
				<p>01115405419</p>
			</div>
		</div>

		<hr id="footer-top-line">

		
		<div class="footer-middle">

			
			
			<% if (locations && locations.length > 0) { %>
				<% locations.forEach(location => { %>
					<a = href="<%= location.google_maps_url %>">
						<div class="footer-branch">
						
							<img src="/images/location.png" alt="location">
							<p><%= location.branch_name %></p>
						
						<p><%= location.address %></p>
					</div>
					</a>
					
				<% }); %>
			<% } else { %>
				<p>No Locations Yet</p>
			<% } %>
			
		</div>

		<hr id="footer-bottom-line">

		<div class="footer-bottom">
			<div class="footer-bottom-left">
				<p>© 2023 SuperPharm. All rights reserved.</p>
			</div>
			<div class="footer-bottom-right">
				<a href=""><p>Privacy Policy</p></a>
				<a href=""><p>Terms of Use</p></a>

			</div>
		</div>
	</div>
</footer>