<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navcontainer">
            <div class="fristnav">
            <div class="inner_navI">
                <div class="phonecont">
                    <i class='bx bx-phone'></i>
                    <p>012345678</p>
                </div>
                <div class="emailcont">
                    <i class='bx bx-envelope' ></i>
                    <p>email@gmail.com</p>
                </div>
            </div>
            <div class="inner_navII">
                <a href="/signup"><i class='bx bx-user' ></i></a>
                <a href=""><i class='bx bx-heart'></i></a>
                <a href=""><i class='bx bx-cart-alt' ></i></a>

            </div>
        </div>
        </div>
        <div class="heeader">
            <i class='bx bx-menu navOpenBtn' ></i>
            <a href="#" class="logo">Pharmacy name</a>
            <div class="ccon">
                <div class="searchcon">
                    <div class="icon">
                      <i class='bx bx-search search' ></i>
                    </div>
                    <div class="Input">
                      <input type="text" placeholder="Search" id="search">
                      <i class='clear bx bx-x' ></i>
                    </div>
                  </div>

            <ul class="nav-links">
                <i class='bx bx-x navCloseBtn'></i>
                <li><a href="/">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
        </div>
    </div>
        
    </nav>
   <script src="/js/header.js"></script>
</body>
</html>