<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Product List</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../css/aboutUs.css" />
	</head>

<body>
	<%- include('partials/header') %>

	<div class="about-container">
		<div class="about-text">
			<div class="about-title">
				<h1>Welcome to <span>Qanaa</span>. We're glad you're here.</h1>
			</div>
			<div class="about-description">
				<p>Greetings from Qanaa Pharmacy! We, the dedicated team behind the scenes, are excited to introduce our innovative online platform. Our goal is to revolutionize your pharmacy experience, making it easier for you to access vital pharmaceutical services. With guidance from our industry experts and in close collaboration with the pharmacy owner, we strive to create a secure, reliable, and user-friendly platform tailored to meet your healthcare needs. At Qanaa Pharmacy, our commitment is to ensure your convenience and accessibility when procuring essential products. We're here to support and serve you every step of the way.</p>
			</div>
		</div>

		<div class="about-background">
			<img src="../images/banner4.png" alt="aboutUs"/>
		</div>
	</div>

	<%- include('partials/footer') %>
</body>
</html>