<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Product List</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../css/contactUs.css" />
	</head>

<body>
	<%- include('partials/header') %>

	<div class="contact-container">
		<div class="contact-top">
			<h1>Get in Touch</h1>
		</div>

		<div class="contact-bottom">
			<div class="address">
				<img src="../images/address.png" alt="address">
				<h5><p>٣٧ شارع كابول من مكرم عبيد - خلف مصطفى السلاب - مدينة نصر، القاهرة، مصر</h5>
			</div>

			<div class="phone">
				<img src="../images/phone.png" alt="phone">
				<h5>01115405419</h5>
			</div>
		</div>
	</div>

	<%- include('partials/footer') %>
</body>
</html>