<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
	<%- include('partials/header') %>

	<div class="slideshow">
		<img src="" alt="banner" id="slideshow-image">
	</div>

	<div class="categories">
		<div class="cat" id="cat1">
			<img src="" alt="medicine">
			<p>Medications</p>
		</div>

		<div class="cat" id="cat2">
			<img src="" alt="baby">
			<p>Mom and Baby</p>
		</div>

		<div class="cat" id="cat3">
			<img src="" alt="hand">
			<p>Skin Care</p>
		</div>

		<div class="cat" id="cat4">
			<img src="" alt="blow dryer">
			<p>Hair Care</p>
		</div>

		<div class="cat" id="cat5">
			<img src="" alt="lipstick">
			<p>Beauty</p>
		</div>

		<div class="cat" id="cat6">
			<img src="" alt="first aid kit">
			<p>Medical Supplies</p>
		</div>
	</div>

	<script type="text/javascript" src="/js/slideshow.js" ></script>
</body>
</html>