<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/loginAndSignup.css">
    </head>
    <body>
      <%- include("./partials/header.ejs")%>
        <div class="containerI">
        <div class="form-header">
            <h1>Login to my account</h1>
            <p class="sub-header-login">Enter your email and password:</p>
        </div>
        <form id="login-form" action="/auth/login" method="post" novalidate>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Email" class="input-field" required>
                <span class="error-message" id="email-error"><%= errors.find(error => error.field === 'email') ? errors.find(error => error.field === 'email').message : '' %></span>
            </div>
            
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" class="input-field" required>
                <span class="error-message" id="password-error"><%= errors.find(error => error.field === 'password') ? errors.find(error => error.field === 'password').message : '' %></span>
            </div>
            
            <input type="submit" value="Submit" id="submit-button" class="submit-button">

            <a href="/auth/signup" class="create">New customer? Create your account</a>
            <a href="/auth/forgetpassword" class="forgetpas">Forget your password?</a>
          
        </form>
         </div>
            <%- include("./partials/footer.ejs")%>
         
         <script type="text/javascript" src="/js/validations.js" ></script>
   </body>
    </html>
    
</html>