<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/loginAndSignup.css">
    </head>
    <body>
        <h1>Login</h1>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="input-field"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="input-field"><br><br>
            <input type="submit" value="Submit" id="submit-button" class="submit-button">
        </form>
        <script src="/public/js/validations.js" ></script>
    </body>
    </html>
    
</html>