<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/loginAndSignup.css">
    </head>
    <body>
      <%- include("./partials/header.ejs")%>
        <div class="containerI">
        <div class="form-header">
            <h1>Login to my account</h1>
            <p class="sub-header-login">Enter your email and password:</p>
        </div>
        <form id="login-form" action="/auth/login" method="post" novalidate>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Email" class="input-field" required>
                <span class="error-message" id="email-error"></span>
            </div>
            
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" class="input-field" required>
                <span class="error-message" id="password-error"></span>
            </div>
            
            <input type="submit" value="Submit" id="submit-button" class="submit-button">

            <a href="/signup" class="create">New customer? Create your account</a>
            <a href="/auth/forgetpassword" class="forgetpas">Forget your password?</a>
          
        </form>
         </div>
         <div class="footer-block">
            <div class="footer-info">
                <div class="footer-section">
                    <p class="title-footer"> FAST & FREE SHIPPING</p>
                 <p class="explain-footer">Get your order delivered same day or next day according to your location in Cairo & Giza. 
                    We also offer Bloom super saver delivery within 2-3 business days in Cairo & Giza. 
                    In other locations you will receive your order within 2-7 business days.</p>
                </div>
                <div class="footer-section">
                    <p class="title-footer">DISCOUNTS & OFFERS</p>
                    <p class="explain-footer">Bloom keeps running different promotions on its website and stores where you can benefit 
                    from discounts being offered on a wide variety of items. On the basis of the relevant promotion, 
                    the discount may be applied automatically or a coupon code may have to be used to avail of the discount.</p>
                </div>
                <div class="footer-section">
                    <p class="title-footer">SECURE SHOPPING</p>
                    <p class="explain-footer">We use industry-standard encryption systems for potentially sensitive information, such as your name, 
                        address and other critically sensitive information like your credit / debit card details. Information 
                        passed between your computer and our website cannot be read in the event of someone else intercepting it.</p>
                </div>

            </div>
            <div class="footer-copyright">
            &copy; 2023 Your Company. All rights reserved.
        </div>
         </div>
         
         <script type="text/javascript" src="/js/validations.js" ></script>
   </body>
    </html>
    
</html>