.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  margin-left: 40px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 70%;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #21af9f;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid transparent;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  border-color: #21af9f;
  color: #21af9f;
}

span.price {
  float: right;
  color: grey;
}

.cash-option,
.visa-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#paymob-button {
  background-color: #21af9f;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  text-align:center;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

#paymob-button:hover {
  background-color: #fff;
  border-color: #21af9f;
  color: #21af9f;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
