:root {
	--primary-color: #21af9f;
	--secondary-color: #1a1a18;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary-color);
	margin-top: 5vh;
	height: 50vh;
	color: white;
	padding: 3% 6%;
}

.footer-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	margin-top: 2%;
}

.footer-top p {
	font-size: 14px;
}

.footer-socials {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

/* Add this CSS to your existing stylesheet or create a new one */

.footer-middle {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-branch {
    margin: 15px;
    text-align: center;
}

.footer-branch img {
    width: 50px; /* Adjust the size of the location image as needed */
}

.footer-branch p {
    margin: 8px 0;
}

/* Add some additional styling to the anchor tag */
.footer-middle a {
    text-decoration: none;
    color: white; /* Adjust the color as needed */
}





/* Optional: Style the social media icons */
.footer-socials a {
    margin-right: 10px;
}

.footer-socials img {
    width: 30px; /* Adjust the size of the social media icons as needed */

}

.footer hr {
	opacity: 0.1;
}

#footer-top-line {
	width: 75%;
	margin: 0 auto;
}