.splide img {
	width: 100%;
	max-height: 100%;
}

.my-slider-progress {
	background: #ccc;
}
  
.my-slider-progress-bar {
	background: #3f3f95;
	height: 5px;
	transition: width 400ms ease;
	width: 0;
}

.categories {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 55%;
	height: 15vh;
}

.cat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.cat p {
	color: #2f6f82;
	font-size: small;
	font-weight: bold;
}

.featured-products-container {
	background-color: #3f3f95;
	height: 30vh;
}

.featured-products-container h1 {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 3% 22.5%;
}

.featured-products {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 50%;
	left: 25%;
	top: 10%;
}

.featured-products a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.featured-products a p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #2f6f82;
	font-weight: bold;
	font-size: medium;;
}

.containerr{
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
@media screen and (min-width:641px){
    .containerr{
        padding: 0 40ox;
    }
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto; /* Make the container height flexible */
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .slide img {
    width: 100%;
	object-fit: cover;
  }
  
  .slider-btns {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
  }
  
  .slider-btn {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin:0 8px;
    transition:  transform .25s ease;
    background: none; 
    border: 3px solid #f9f7f7; 
  }
  .slider-btn.active {
    background: #f9f7f7;
   
  }

  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
}

.category {
float: left;
width: 10%; /* Adjust the width as needed */
max-width: 150px; /* Set a maximum width if necessary */
height: 80px; /* Adjust the height as needed */
box-sizing: border-box;
padding: 10px;
margin: 10px;
background-color: #add8e6; 
border: 1px solid #68a0cf; 
border-radius: 10px;
text-align: center;
overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.icon {
font-size: 30px; 
color: #fff; 
margin-bottom: 5px;
}

h2 {
color: #333;
margin: 0;
font-size: small; /* Adjust the font size as needed */
}

@media screen and (max-width: 768px) {
.category {
width: 30%; /* Adjust the width for smaller screens */
max-width: none; /* Remove maximum width for smaller screens */
height: 60px; /* Adjust the height for smaller screens */
}

.icon {
font-size: 20px; /* Adjust the icon size for smaller screens */
}

h2 {
font-size: x-small; /* Adjust the font size for smaller screens */
}
}