.splide img {
	width: 100%;
	max-height: 100%;
}

.my-slider-progress {
	background: #ccc;
}
  
.my-slider-progress-bar {
	background: #3f3f95;
	height: 5px;
	transition: width 400ms ease;
	width: 0;
}

.categories {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 55%;
	height: 15vh;
}

.cat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.cat p {
	color: #2f6f82;
	font-size: small;
	font-weight: bold;
}

.featured-products-container {
	background-color: #3f3f95;
	height: 30vh;
}

.featured-products-container h1 {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 3% 22.5%;
}

.featured-products {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 50%;
	left: 25%;
	top: 10%;
}

.featured-products a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.featured-products a p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #2f6f82;
	font-weight: bold;
	font-size: medium;;
}

.containerr{
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
@media screen and (min-width:641px){
    .containerr{
        padding: 0 40ox;
    }
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto; /* Make the container height flexible */
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .slide img {
    width: 100%;
	object-fit: cover;
  }
  
  .slider-btns {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
  }
  
  .slider-btn {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin:0 8px;
    transition:  transform .25s ease;
    background: none; 
    border: 3px solid #f9f7f7; 
  }
  .slider-btn.active {
    background: #f9f7f7;
   
  }
