/* Apply styles to the entire page */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f4f4f4;
}
.form_header {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
/* Style the login form */
#login-form {
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signupcontainer {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-main{
    max-width: 350px;
    margin: 60px auto;
    text-align: center;
}



.form_title1{
    margin-bottom: 15px;
}


@media screen and (min-width:675px){
    .signupcontainer{
        padding: 0 40px;
    }
    .form-main{
        margin-top: 110px;
        margin-bottom: 150px;
    }
    .form_title1{
        font-size: 29px;
        line-height: 1.43;
    }
}

/* Style labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
a{
    background-color: transparent;
    text-decoration: none;
}
/* Style input fields */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.input-field:active, .input-field:focus {
    border: 1px solid #21af9f;
    outline: none;
}

/* Style the submit button */
.submit-button {
    background-color: #21af9f;
    color: #fff;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button the same length as the container */
    margin-top: 20px; /* Add spacing between the button and the inputs */
    text-align:center;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #fff;
    border-color: #21af9f;
    color: #21af9f;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
    #login-form {
        max-width: 80%;
    }
}

@media screen and (max-width: 400px) {
    #login-form {
        max-width: 90%;
        padding: 10px;
    }

    .input-field {
        padding: 8px;
        margin-bottom: 8px;
    }

    .submit-button {
        padding: 8px 12px;
    }
}
.error-message {
    color: red;
    font-size: 14px;
}

/* Style for form groups to position elements vertically */
.form-group {

    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 10px; /* Add padding on the right side for space */
}

/* Style for error borders */
.error {
    border: 1px solid red;
}
.forgetpas {
    text-decoration: none; /* Remove the default underline */
    color: #21af9f; /* Link color */
    display: block; /* Block level element */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add spacing between the link and the inputs */
    font-size: 11px; /* Adjust the font size as needed */
}
/* Style for the "New customer? Create your account" link */
.create {
    text-decoration: none; /* Remove the default underline */
    color: #21af9f; /* Link color */
    display: block; /* Block level element */
    text-align: center; /* Center the text */
    margin-top: 15px; /* Add spacing between the link and the inputs */
    font-size: 11px; /* Adjust the font size as needed */
}
.containerI {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.form_second{
    margin-top: 32px;
    font-size: 13px;
}
.link{
    color: #21af9f;
    transition: color .2s ease-in-out;
}
.link:hover{
    text-decoration: underline;
}
.footer-block {
    text-align: center;
    padding-top: 20px;
}

.footer-info {
    color: white    ;
    height: max-content;
    margin-bottom: 10px; /* Adjust spacing as needed */
    background-color: #354259; /* Light background color */
    padding: 20px; /* Padding for the entire section */
}

/* Style for copyright section */
.footer-copyright {
    margin-bottom: 10px; /* Adjust spacing as needed */
}

/* Style for individual sections within the "footer-info" */
.footer-section {
    display: inline-block;
    width: 30%; /* Adjust the width as needed */
    margin: 0 10px; /* Adjust spacing between sections */
    vertical-align: top; /* Align sections vertically */
}
@media screen and (max-width: 768px) {
    .footer-section {
        margin-top: 5px;
        width: 45%; /* Adjust section width for smaller screens */
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center; /* Center-align the sections */
    }
}

@media screen and (max-width: 600px) {
    .footer-section {
        margin-top: 5px;
        width: 100%; /* Stack sections vertically on narrow screens */
    }
}
.explain-footer{
    text-align: justify;
}
.title-footer{
    font-size: 20px;
    font-weight: bold;
}
.sub-header-login {
    padding: 50px;
}