:root {
  --primary-color: #21af9f;
  --secondary-color: #1a1a18;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

.navcontainer{
    padding: 16px 20px;
    color: white;
    display: flex;
    align-items: center;
}
 .fristnav{
    position: relative;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.inner_navI {
    display: inline-flex;
    align-items: center;
}



.phonecont, .emailcont {
    margin-right: 50px;
    display: inline-flex;
    font-size: 14px;
    
}
.phonecont i,
.emailcont i,
.inner_navII i{
    margin-right: 10px; 
    font-size: 20px;
    position: relative;
    bottom: 1px;
    color: white;
}

.inner_navII i:not(:last-child){
    padding-right: 18px;
}


@media screen and (min-width:675px)
{
    .navcontainer{
    
        padding: 16px 40px;
        text-align: center;
        font-size: 19px;
    }

    .navcontainer .fristnav{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 19px;
    }
}

.heeader {
    
    width: 100%;
    padding: 10px 60px;
    background: #f6f6f6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }
  .heeader,
  .heeader .nav-links {
    display: flex;
    align-items: center;
  }
  .heeader .logo {
    font-size: 22px;
    font-weight: 500;
  }
  .ccon{
    display: inline-flex;
  }
  .heeader .nav-links {
    column-gap: 20px;
    list-style: none;
  }
  .heeader .nav-links a {
    transition: all 0.2s linear;
  }
  .searchcon{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 40px;
    transition: all 0.5s ease;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .searchcon .icon{
    position: absolute;
    left: 30px;
    top:50%;
    transform: translate(-50%,-50%);
  }
  
  .searchcon .icon .search{
    font-size: 21px;
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.3s ease;
  }

  .searchcon .icon .search:hover{
    color: #177c70;
  }

  .searchcon.active{
    width: 360px;
    background-color: var(--primary-color);
    color: #fff;
  }
  
  
  .searchcon .Input{
    position: relative;
    width: 300px;
    height: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchcon .Input input{ 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    outline: none;
  
   }

   .searchcon.active input{
    background-color: var(--primary-color);
    color: #fff;
   }

   .searchcon.active .search{
    color: #fff;
   }
  
   .searchcon .Input .clear{
    position: absolute;
    right: 5px;
    top:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 20px;
    color: #8888;
   }
  .heeader .navOpenBtn,
  .heeader .navCloseBtn {
    display: none;
  }
  .inner_navII{
    display: flex;
    text-align: center;
    gap: 20px;
    margin-left: 20px;
  }
  .inner_navII  .header_icon{
    display: block;
    height: 25px;
    position: relative;
    top: 5px;
    left: 5px;
  }
   .header_item_link{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  .min-cart[aria-hidden=false]{
    border: 1px solid var(--secondary-color);
    visibility: visible;
    opacity: 1;
    transform: scale(1);
   
  }
  .min-cart{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 100%;
    max-height: 0;
    background: #fff;
    color:#000;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(.9);
    will-change: transform;
    z-index: 9999;
  }
  .min-cart_item_list{
    padding-left: 20px;
    padding-right: 20px;
  }
  .cart-item-info{
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
  }
  .cart_product_info{
    margin-bottom: 12px;
  }
  .product-name{
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.5;
  }
  .product-price{
    font-size: 14px;
    font-weight: 500;
  }
  .quanity{
    display: inline-flex;
    align-items: center;
    height: 38px;
    font-size:14px;
    border: 1px solid #e1e3e4;
    border-radius: 3px;
    vertical-align: middle;
  }
  .quanity_btn{
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: color .2s ease-in-out;
    touch-action: manipulation;
    cursor: pointer;
  }
  .quanity_btn i{
    color: #868585;
    font-size: 14px;
  }
  .quantity_val{
    height: 100%;
    width: 44px;
    border-left: 1px solid #e1e3e4;
    border-right: 1px solid #e1e3e4;
    color: #333;
    appearance: none;
    padding: 0 5px;
    text-align: center;
    border-top: none;
    border-bottom: none;
    background: transparent;
  }
  .remove_link{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1;
  }

  .heeader .nav-links a:hover {
    color: #21af9f;
  }
/* Add this to your existing CSS or create a new stylesheet */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 4;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

.notifs:hover {
  cursor: pointer;
}

  /* responsive */
  @media screen and (max-width: 1160px) {
    .heeader {
      padding: 28px 100px;
    }
    .searchcon.active{
        width: 280px;
    }
    .searchcon .Input .clear{
        right: 80px;
    }
  }
  @media screen and (max-width: 999px) {
    .heeader {
      padding: 28px 50px;
    }
    .searchcon.active{
        width: 240px;
    }
    .searchcon .Input .clear{
        right: 120px;
    }
    .header_item_link{
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .heeader .navOpenBtn,
    .heeader .navCloseBtn {
      display: block;
    }
    .heeader {
      padding: 28px 20px;
    }

    .heeader .logo{
        font-size: 18px;
    }
    .heeader .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #f4f4f9;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      z-index: 100;
    }

    .heeader.openNav .nav-links {
      left: 0;
    }
    .heeader .navOpenBtn {
      color: var(--primary-color);
      font-size: 20px;
      cursor: pointer;
    }
    .heeader .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: var(--primary-color);
      font-size: 20px;
      cursor: pointer;
    }
    .searchcon.active{
        width: 200px;
    }
    .searchcon .Input .clear{
        right: 160px;
    }
    .inner_navI, .inner_navII {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
  }
  .inner_navI {
      margin-right: 0; /* Remove right margin for inner_navI on smaller screens */
  }
  .inner_navII i:not(:last-child) {
      padding-right: 0; /* Remove padding for inner_navII icons on smaller screens */
  }
  }
  @media screen and (min-width:641px) {
    .min-cart{
    border: 1px solid var(--primary-color);
    left: auto;
    right: 0;
    top: calc(100% + 14px);
    max-height: none;
    width: 470px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px #0000001a;
    }
    .cart-item-info{
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: space-between;
    }
    .cart_product_info{
      margin: 0 20px 0 0;
    }
    .remove_link{
      display: block;
    width: max-content;
    margin: 10px auto 0;
    }
  }

  #nav-separator {
    opacity: 0.2;
  }

  .notifs-overlay {
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 20px;
    position: fixed;
    background-color: #1b1b18;
    align-items: center;
    opacity: 0.9;
    color: white;
    border-radius: 0 0 0 10px;
    margin: 0;
    padding: 30px;
    top: 0;
    right: 0;
    width: 20%;
    height: 80vh;
    z-index: 10;
    display: none;
  }

  .notifs-overlay p {
    text-decoration: none;
    text-align: center;
    color: white;
  }

  .notifs-overlay hr {
    width: 60%;
    color: white;
    opacity: 0.1;
  }