.wishlist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 70px;
    height: 55vh;
  }

  .wishlist-container h1 {
    font-size: 29px;
    line-height: 1.43;
    margin-bottom: 55px;
  }

  .wishlist-container .headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
  }

  .wishlist-container .headers p {
    font-size: 12px;
    font-weight: bold;
  }

  .wishlist-item {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 20px 0;
    border: 1px solid #eee; /* Light border */
    padding: 10px;
    border-radius: 8px;
  }

  .wishlist-image {
    max-width: 100px;
    margin-right: 20px;
  }

  .wishlist-details {
    flex: 1;
  }

  .item-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .item-price {
    color: green;
    margin-bottom: 5px;
  }

  .item-description {
    color: #555;
  }

  .wishlist-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .remove-button,
  .quick-view-button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .remove-button {
    background-color: #ff5252; /* Red color */
    color: #fff;
    border: 2px solid transparent;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }

  .quick-view-button {
    background-color: #21af9f; /* Blue color */
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  .quick-view-button:hover {
    background-color: #fff;
    border-color: #21af9f;
    color: #21af9f;
  }

  .remove-button:hover {
    background-color: #fff;
    border-color: #ff5252;
    color: #ff5252;
  }